{% extends "base.html" %} {% block body %}

<body class="body">
  <div class="page">
    <header class="header">
      <a class="header__left" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='images/header_logo.png') }}" class="header_logo" alt="" />
      </a>
      <div class="header__main">
        <a class="nav__link nav__link--header" href="{{ url_for('main.users') }}">Пользователи</a>
        <a class="nav__link nav__link--header" href="{{ url_for('main.cars') }}">Автомобили</a>
        <a class="nav__link nav__link--header" href="{{ url_for('main.partners') }}">Партнеры</a>
        <a class="nav__link nav__link--header" href="{{ url_for('main.driver') }}">Водители</a>
      </div>
      <form action="{{ url_for('main.profile') }}">
        <button class="header__right">
          <div class="profile__photo">
            <img src="{{ url_for('static', filename='images/profile_photo.svg') }}" alt="" />
          </div>
          <div class="flexColum">
            <div class="profile__name">{{ current_user.name }}</div>
            <a href="{{ url_for('auth.logout') }}">
              Выйти
            </a>
          </div>
        </button>
      </form>
    </header>
    <div class="main">
      <a class="btn__prev" href="{{ url_for('main.cars') }}">
        <img src="{{ url_for('static', filename='images/arrow__left.svg') }}">
      </a>
      <div class="content">


        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="done__flash">{{ messages[0] }}</div>
        {% endif %} {% endwith %}
        <div class="car__info">
          <div class="car__info__heder">
            {{ avto.car_make }} {{ avto.car_model }}
          </div>
          <div class="car__info__container">
            <div class="flex_box">
              <div class="car__info__tittle"> Гос.Номер: </div>
              <div class="car__info__value">{{ avto.number }}</div>
            </div>
            <div class="flex_box">
              <div class="car__info__tittle"> Пробег: </div>
              <div class="car__info__value">{{ avto.mileage }}км</div>
            </div>
            <div class="flex_box">
              <div class="car__info__tittle"> Год выпуска: </div>
              <div class="car__info__value">{{ avto.years }}г</div>
            </div>
            <div class="flex_box" style="display: none;">
              <div class="car__info__tittle"> id_driver: </div>
              <div class="car__info__value">{{ avto.id_driver }}</div>
            </div>
            <div class="flex_box">
              <div class="car__info__tittle"> Водитель: </div>
              <div class="car__info__value">{{ current_driver.name }} </div>
            </div>
            <p></p>
          </div>
          <button class="edit_avto">
            <img src="{{ url_for('static', filename='images/edit__logo.svg') }}" alt="">
          </button>
          <button class="show__car__photo active">Показать фото автомобиля</button>
          <button class="high__car__photo">Скрыть фото автомобиля</button>
          {% if not avtocomment %}
          <button class="addCommentAvto">Добавить комментарий </button>
          {% endif %}
          {% if avtocomment %}
          <button class="ShowCommentAvto">Показать комантарии</button>
          {% endif %}
          <div class="commentAvto">
            {% for com in avtocomment %}
            <div class="avtocomment__container">
              <div class="avtocomment__containerText">
                <p> {{com.comment}} </p>
                <p> {{com.date.date()}} </p>
              </div>

              <div class="avtocomment__containerImg">
                <img src="{{url_for ('static',filename=com.commentPhoto)}}" alt="">
              </div>

            </div>
            {% endfor %}
            <button class="addCommentAvto addCommentAvto--max">+</button>
          </div>
        </div>
        <div class="car__photo ">
          <div class="slider-wrapper">
            {% if AvtoPhoto %}
            {% for f in AvtoPhoto %}
            <div class="slide">
              <img class="slide-img" src="{{url_for ('static',filename=f[1])}}">

              <form action="/delete?avto_id={{ avto.avto_id }}" method="post">
                <input class="delete__photo" type="submit" name="{{f[0]}}" value="{{f[1]}}">
              </form>
            </div>
            {% endfor %}
            <div class="dots-wrapper">

              {% for f in AvtoPhoto %}
              <span class="dot">
                <img class="img__dot" src="{{url_for ('static',filename=f[1])}}">
              </span>
              {% endfor %}

            </div>
            <div id="btn-prev">
              <img src="{{ url_for('static', filename='images/arrow__left.svg') }}" alt="">
            </div>
            <div id="btn-next">
              <img src="{{ url_for('static', filename='images/arrow__right.svg') }}" alt="">
            </div>
          </div>
          {% endif %}
          <form class="add__photo" action="/upload-photo?avto_id={{ avto.avto_id }}" method="post"
            enctype="multipart/form-data">
            <p>Звгрузить фото автомобиля:</p>
            <input class="btn_save__photo" type="submit" value="Сохранить">
            <input class="input__file" type="file" name="file">
          </form>
        </div>

        <div class="modal">
          <div class="modal__content">
            <div class="modal__header">
              <p>Редактировать авто</p>
              <button class="close__modal">
                <img src="{{ url_for('static', filename='images/close.svg') }}" alt="" />
              </button>
            </div>

            <form class="form__edit__avto" action="/carEdit/{{ avto.avto_id }}" method="post">
              <p style="margin-bottom:1rem ; font-size: 1.8rem;">Выберете водителя</p>
              <select class="select__driver" name="driver">
                <option value="{{ current_driver.driver_id }}"> {{ current_driver.name }} {{ current_driver.surname }}
                </option>
                <option value="pure">Снять водителя</option>
                {% for d in driver %}
                {% if not d.avto_id %}
                <option value="{{d.driver_id}}"> {{ d.name }} {{ d.surname }} </option>
                {% endif %}
                {% endfor %}
              </select>
              {% for d in driver %}
              <input name="id_driver" style="display:none" value="{{d.driver_id}}">
              {% endfor %}
              <div style="width: 30rem; margin: 2rem 0rem;" class="flex_box">
                <p class="p__carEdit">Укажите пробег автомобиля</p>
                <input class="input__carEdit" value="{{avto.mileage}}" name="mileage">
              </div>
              <button class="btn__carEdit">Сохранить</button>
            </form>

          </div>
        </div>
        <div class="modal modal_comment">
          <div class="modal__content">
            <div class="modal__header">
              <p>Добавить комментарий</p>
              <button class="close__modal">
                <img src="{{ url_for('static', filename='images/close.svg') }}" alt="" />
              </button>
            </div>
            <form class="form__edit__avto" action="/addAvtoComment/{{ avto.avto_id }}" method="post"
              enctype="multipart/form-data">
              <p style="margin-bottom:1rem ; font-size: 1.8rem; font-weight: 500;">Введите комментарий</p>
              <textarea name="comment" class="inputComment"></textarea>

              <div class="add_photo" style="display: none;">
                <input type="file" name="file">
              </div>
              <button class="btn__carEdit">Сохранить</button>

            </form>
            <button class="showAddPhoto"> Добавить фото</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script>
    const prev = document.getElementById('btn-prev'),
      next = document.getElementById('btn-next'),
      slides = document.querySelectorAll('.slide'),
      dots = document.querySelectorAll('.dot');

    let index = 0;

    const activeSlide = n => {
      for (slide of slides) {
        slide.classList.remove('active');
      }
      slides[n].classList.add('active');
    }

    const activeDot = n => {
      for (dot of dots) {
        dot.classList.remove('active');
      }
      dots[n].classList.add('active');
    }

    const prepareCurrentSlide = ind => {
      activeSlide(index);
      activeDot(index);
    }

    const nextSlide = () => {
      if (index == slides.length - 1) {
        index = 0;
        prepareCurrentSlide(index);
      } else {
        index++;
        prepareCurrentSlide(index);
      }
    }

    const prevSlide = () => {
      if (index == slides.length - 1) {
        index = 0;
        prepareCurrentSlide(index);
      } else {
        index--;
        prepareCurrentSlide(index);
      }
    }

    dots.forEach((item, indexDot) => {
      item.addEventListener('click', () => {
        index = indexDot;
        prepareCurrentSlide(index);
      })
    })

    next.addEventListener('click', nextSlide);
    prev.addEventListener('click', prevSlide);
  </script>
</body>

{% endblock %}