{% extends "base.html" %} {% block body %}

<body class="body">
  <div class="page">
    <header class="header">
      <div class="header__left">
        <img src="{{ url_for('static', filename='images/header_logo.png') }}" class="header_logo" alt="" />
      </div>
      <div class="header__main">
        <a class="nav__link nav__link--header" href="{{ url_for('main.cars') }}">Автомобили</a>
        <a class="nav__link nav__link--header" href="{{ url_for('main.spare') }}">Запчасти</a>
        <a class="nav__link nav__link--header" href="{{ url_for('main.driver') }}">Водители</a>
      </div>
      <form action="{{ url_for('main.profile') }}">
        <button class="header__right">
          <div class="profile__photo">
            <img src="{{ url_for('static', filename='images/profile_photo.svg') }}" alt="" />
          </div>
          <div class="profile__name">{{ current_user.name }}</div>
        </button>
      </form>
    </header>
    <div class="main">
      <div class="content">
        {% for d in driver %}
        <div style="border: 1px solid #000000;">
          <div>{{ d.name }}</div>
          <div>{{ d.email }}</div>
        </div>

        {% endfor %}
        <form action="/add_driver" method="post">
          <input name="name">
          <input name="email">
          <button>сохранить</button>
        </form>
        </div>
    </div>
  </div>
</body>

{% endblock %}