<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link href="/static/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for ('static', filename='js/jquery.min.js') }}" />
  <script src="{{ url_for('static', filename='app.js') }}"></script>


  <title>{% block title %} ООО "Развитие" {% endblock %}</title>
</head>

<body>
  {% block body %} {% endblock %}
</body>

</html>